{% extends 'core/base.html' %}
{% load static %}
{% block title %}Welcome{% endblock title %}

{% block body %}
<div class="container">
    <h1 class = "text-light text-center pt-5">Vchat</h1>
</div>

<div class="d-flex flex-row mb-3">
    <div class="p-2 m-5" style = "color:white;">
                 
            <strong><p style = "font-size:30px;">
                Welcome to My Real-Time Chat Application!</p></strong><br>
        <p style = "font-size:15px;">      
            Experience seamless and instant communication with my Real-Time Chat Application powered by Django, Bootstrap, and WebSockets with Django Channels. Connect with friends, colleagues, and loved ones in real-time, no matter where they are.<br>
        </p>
            <strong><p style = "font-size:20px;">Key Features:</p></strong>
        <p style = "font-size:15px;"> 

            1. Real-Time Messaging: Enjoy the thrill of real-time messaging with instant message delivery.<br>
            2. User-Friendly Interface: Our intuitive and sleek interface ensures a smooth and enjoyable chat experience.<br>
            3. Secure and Private: We prioritize your privacy and use encryption to keep your conversations secure.<br>
            4. Responsive Design: Our chat application is designed to be responsive, providing an optimal experience across devices.<br>            
            5. Group Chats: Join groups to connect with multiple people simultaneously, perfect for team collaborations or social gatherings.<br><br>           
            
            Experience the power of <strong>Django, Bootstrap, and WebSockets with Django Channels,</strong> delivering a robust and dynamic real-time chat experience.<br>
            
        </p>
    </div>
    <div class="p-2 m-5">
        <div style = "background-color:white;">
            <img src="https://img.freepik.com/free-psd/chat-message-notification-icon-isolated-3d-render-illustration_47987-9685.jpg" alt="No image" style = "height: 30rem;">
        </div>
        
    </div>    
  </div>
{% endblock body %}